<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="../static/css/style.css"></head>
<body style="display:flex; align-items:center; justify-content:center; height:100vh; background:#0b111a;">
    <div class="card" style="width:320px;">
        <h2 style="color:var(--secondary);">CREATE_ID</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="admin_secret" placeholder="Admin Code (Optional)" style="font-size:0.7rem;">
            <button type="submit" class="btn-premium" style="width:100%; margin-top:10px;">REGISTER</button>
        </form>
    </div>
</body>
</html>